<body{
    font-family: sans-serif;
    margin: 0:auto;
    padding: 0:after
    ::backdrop-color;#[4][4][4];
}
header {
    background-color: aqua;
    padding: 10;px 28px;
    text-align: center;
}
nav ul{
    list-style: nome;
    padding: 
}
nav ul
:last-child
padding auto;
}
nav a{
    color: azure;
    text-align: left
}
main{
    padding: 20px;
}
}


